{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear</title>
    <link rel="stylesheet" href="{% static 'app_catalogo/css/videojuegos.css' %}">
</head>
<body>
    {% include "incrustables/encabezado.html" %}
    <h1>Crear plataforma</h1>
    <form action="/crear_plataformas_bbdd" method="GET">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre"> 
        <label for="fabricante">Fabricante:</label>
        <input type="text" name="fabricante" id="fabricante"> 
        <input type="submit" value="Enviar">
    </form>
</body>
</html>