{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/videojuegos.css' %}">
</head>
<body>
    <header>
        <ul id="menu_principal">
            <li>Juegos</li>
            <li>Plataformas</li>
            <li>Géneros</li>
            <li>Mi perfil</li>
            <li>Cesta</li>
        </ul>
    </header>
    <main>
        Contenido principal
    </main>
    <div id="redes_sociales">Redes sociales</div>
    <footer>Pie de la página</footer>
</body>
</html>