body {
    margin: 0px;
}
#div-cabecera {
    background-color: brown;
    height: 6em;
}
#div-menu {
    background-color: rgb(78, 78, 78);
    height: 3em;
}
#div-principal {
    width: 972px;
    margin: auto;
}
.pizza {
    width: 33%;
}
.pizza img {
    width: 100%;
}
.boton-pedir {
    background-color: red;
    color: white;
    padding: 1em 2em 1em 2em;
    border-radius: 10px;
}
#x {
    float: right;
}