@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin:0px;
}

header {
    width: 100%;
    background-color: aquamarine;
    box-sizing: border-box;
    padding: 2em;
}

#menu_principal {
    margin: 0px;
    text-align: center;
}

#menu_principal li {
    display: inline;
    margin-left: 4em;
}

#main-listado-videojuegos{
    width: 1000px;
    margin: auto;
    text-align: center;
}
#tabla-videojuegos {
    width: 100%;
}

#tabla-videojuegos tr:nth-child(odd) {
    background-color: rgb(105, 105, 105);
    color: white;
}
#tabla-videojuegos tr:nth-child(even) {
    background-color: white;
    color: rgb(105, 105, 105);;
}
#tabla-videojuegos th {
    background-color: rgb(146, 58, 0) !important;
    color: white;
    padding: 20px;
}
